In [1]:
from ALMAQueryCal import *
import astroquery.alma
import astropy
import astroquery
from astroquery.alma import Alma
astroquery.alma.conf.timeout=30

In [2]:
print astropy.__version__, "\n", astroquery.__version__

1.2.1
0.3.1

In [3]:
fileCal = "CalSept2015.list"
q       = queryCal(fileCal, fluxmin = 3.0)
q.listCal

[['J2253+1608', 343.490616421, 16.148211353],
 ['J0319+4130', 49.950667146, 41.511696031],
 ['J1256-0547', 194.046529167, -5.7893125],
 ['J1229+0203', 187.277916667, 2.052388333],
 ['J2202+4216', 330.680380717, 42.277772208],
 ['J1751+0939', 267.88674405, 9.650202342],
 ['J1058+0133', 164.623354167, 1.56634],
 ['J0433+0521', 68.296231388, 5.354338689],
 ['J0522-3627', 80.741604167, -36.458569722],
 ['J2015+3710', 303.869707342, 37.183198828],
 ['J1924-2914', 291.212733154, -29.241700286],
 ['J1337-1257', 204.4157625, -12.956859167],
 ['J1635+3808', 248.814554063, 38.134583481],
 ['J0418+3801', 64.58865515, 38.026611175],
 ['J0725-0054', 111.460999817, -0.915706733],
 ['J0006-0623', 1.5578875, -6.393148611],
 ['J0927+3902', 141.762558075, 39.039125511],
 ['J1512-0905', 228.210553863, -9.099952697],
 ['J0854+2006', 133.703645833, 20.108511389],
 ['J0108+0135', 17.161546283, 1.583421467],
 ['J1642+3948', 250.745041667, 39.810276111],
 ['J0238+1636', 39.662208779, 16.616465172],
 ['J0510+1800', 77.509870833, 18.011550556],
 ['J1549+0237', 237.372653521, 2.6169898],
 ['J0102+5824', 15.690676583, 58.403093514],
 ['J2000-1748', 300.237876854, -17.816020164]]

In [4]:
data = q.queryAlma(q.listCal, public=False)

In [5]:
for i in range(len(data)):
    try:
        print data[i]
        print i, ': success'
    except:
        print i, ': error'

0 : error
1 : error
2 : error
3 : error
[['J2202+4216', 330.680380717, 42.277772208], <Table masked=True length=0>
Project code Source name    RA   ... Largest angular scale QA2 Status  Pub
                           deg   ...          arcs
   str16        str256   float64 ...        float64           str1    int32
------------ ----------- ------- ... --------------------- ---------- -----]
4 : success
5 : error
6 : error
7 : error
8 : error
[['J2015+3710', 303.869707342, 37.183198828], <Table masked=True length=0>
Project code Source name    RA   ... Largest angular scale QA2 Status  Pub
                           deg   ...          arcs
   str16        str256   float64 ...        float64           str1    int32
------------ ----------- ------- ... --------------------- ---------- -----]
9 : success
10 : error
11 : error
[['J1635+3808', 248.814554063, 38.134583481], <Table masked=True length=0>
Project code Source name    RA   ... Largest angular scale QA2 Status  Pub
                           deg   ...          arcs
   str16        str256   float64 ...        float64           str1    int32
------------ ----------- ------- ... --------------------- ---------- -----]
12 : success
13 : error
14 : error
15 : error
16 : error
17 : error
18 : error
19 : error
20 : error
21 : error
22 : error
23 : error
[['J0102+5824', 15.690676583, 58.403093514], <Table masked=True length=0>
Project code Source name    RA   ... Largest angular scale QA2 Status  Pub
                           deg   ...          arcs
   str16        str256   float64 ...        float64           str1    int32
------------ ----------- ------- ... --------------------- ---------- -----]
24 : success
25 : error

In [6]:
data[4]

[['J2202+4216', 330.680380717, 42.277772208], <Table masked=True length=0>
 Project code Source name    RA   ... Largest angular scale QA2 Status  Pub
                            deg   ...          arcs
    str16        str256   float64 ...        float64           str1    int32
 ------------ ----------- ------- ... --------------------- ---------- -----]

Empty?